<link
  href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&family=Ubuntu:wght@300;400;500;700&display=swap"
  rel="stylesheet">




<mat-toolbar>
  <mat-toolbar-row>
    <span>BICB</span>
    <div class="options">
      <span>Products</span>
      <span>Blog</span>
      <span>FAQs</span>
      <span>About</span>
      <span>Careers</span>
      <span>Credit Report</span>
    </div>
    <button mat-button>Sign In</button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="hero-image">
  <div class="company-motto">
    <span>You Ask,</span><br>
    <span>We Solve</span><br>
  </div>
  <div class="company-services">
    <span>Instant Loans. Smart Investments.</span><br>
    <span>& Credit Reports</span><br>
  </div>
  <button mat-raised-button class="get-started-button">Get Started</button>
</div>

<main>

  <!-- Services we provide -->
  <section class="services-sect">
    <div class="services">
       <div class="image-descts">
        <img src="/assets/img/loan.png" class="service-avatar" alt="cash" data-aos="fade-right"
                                                                          data-aos-duration="700"
                                                                          data-aos-offset="300"
                                                                          data-aos-easing="ease-in-sine">
      </div> 
      <div class="ser-descts">
        <span>Get a loan from your phone, anytime within minutes</span>
        <p>We make access to credit easy. No guarantors, no collateral, no wahala with BICB. You can apply 24/7 and receive funds
        in your account in as little as 5 minutes. Unlock higher loan amounts and lower interest rates by repaying on time.</p>
      </div>
    </div>

    <div class="services">
      <div class="ser-descts">
        <span>Invest where your money works as hard as you do</span>
        <p>We offer 20% per month rates when you get Loan from us. We offer market leading rates so your money works harder for you.</p>
      </div>
      <div class="image-descts" data-aos="fade-left" data-aos-duration="1000">
        <img src="/assets/img/invest.png" class="service-avatar" alt="cash" data-aos="flip-left"
                                                                            data-aos-easing="ease-out-cubic"
                                                                            data-aos-duration="3000">
      </div>
    </div>

    <div class="services">
      <div class="image-descts">
        <img src="/assets/img/cash.png" class="service-avatar" alt="cash" data-aos="fade-up-right"
                                                                          data-aos-duration="700"
        >
      </div>
      <div class="ser-descts">
        <span>View your credit report anytime, any day</span>
        <p>Know your credit history across financial institutions and be notified of issues you may be having. Contact the credit bureaus directly to further understand and resolve any issues.</p>
      </div>
    </div>
    
    <div class="services"> 
      <div class="ser-descts">
        <span>Track expenses with your personal finance manager</span>
        <p>We'll help you better understand your spending habits, and automatically categorize income and expenses so you have full
        control over your money.</p>
      </div>
      <div class="image-descts">
        <img src="/assets/img/manager.png" class="service-avatar" alt="cash" data-aos="zoom-in-left"
                                                                          data-aos-duration="700"
                                                                          data-aos-offset="300"
                                                                          data-aos-easing="ease-in-sine">
      </div>
    </div>

  </section> 

  <!-- contact Us -->
  <section class="contact-us">
    <div class="contact-us-left-desc">
      <span>Constant customer</span><br>
      <span>support</span>
      <p>If you ever need assistance, our friendly BICB customer service team is happy to help. Contact us via our
         <a href="tel:+255747571700">phone numbers</a> or <a href="mailto:info@bicb.co.tz">email</a> .</p>
      <a href="tel:+255747571700"><span contactUs>Contact Us</span></a>
    </div>
    <div class="contact-us-right-desc">
      <mat-card phoneCall>
        <img mat-card-image src="./assets/img/phonecall.jpg">
      </mat-card>
    </div>
  </section>

  <!-- Testimonies -->
  <section class="testimonies">
    <span>Testimonies</span>
   
    <div class="testmony-container">
    <mat-card class="testimony-card" data-aos="fade-up" data-aos-duration="500">
      <mat-card-header>
        <div mat-card-avatar class="person1"></div>
        <mat-card-title>John Reese</mat-card-title>
        <mat-card-subtitle>Client</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="./assets/img/people/person1.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          “Thanks for all your hard work this year, I really value your expertise and knowledge. I want to acknowledge that you
          always go above and beyond. I want to assure you and the rest of the team that supports our company, Rose Financial is
          by far the finest team that I have ever worked with.”
        </p>
      </mat-card-content>
    </mat-card>
    
    <mat-card class="testimony-card" data-aos="fade-up" data-aos-duration="800">
      <mat-card-header>
        <div mat-card-avatar class="person2"></div>
        <mat-card-title>Josene Rose</mat-card-title>
        <mat-card-subtitle>Client</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="./assets/img/people/person2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          “ Your
          advice has been creative and priceless. You also have an exceptional talent for looking at my financials and seeing not
          only the logical next steps, but the ones after that as well.”
        </p>
      </mat-card-content>
    </mat-card>
    
    <mat-card class="testimony-card" data-aos="fade-up" data-aos-duration="1000">
      <mat-card-header>
        <div mat-card-avatar class="person3"></div>
        <mat-card-title>Walter Brighton</mat-card-title>
        <mat-card-subtitle>Client</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="./assets/img/people/person3.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          "I just wanted to express my gratitude to you and your staff for the exceptional work that we receive from Rose
          Financial Services. You took a poorly functioning accounting system"
        </p>
      </mat-card-content>
    </mat-card>
    </div>
  </section>
  <section class="getClose">
    <span>Get Close To Us</span>
    <div class="app-container">
      <a target="_blank" href="#"><img src="./assets/img/badges/google-play-badge.png" google-play alt="playstore"></a>
      <a target="_blank" href="#"><img src="./assets/img/badges/app-store.svg" app-store alt="appstore"></a>
      <a target="_blank" href="https://www.google.com/maps/place/BICB/@-8.903238,33.4271418,2994m/data=!3m2!1e3!4b1!4m5!3m4!1s0x1900a01d26a76937:0xe42dffabfc062735!8m2!3d-8.9032593!4d33.4358966"><img src="./assets/img/badges/offices.png" google-play alt="playstore"></a>
      <a target="_blank" href="https://bicb.co.tz/"><img src="./assets/img/badges/bicb.png" app-store alt="appstore"></a>
    </div>

  </section>
  <footer>
    <section footerSectLogo>
      <span footerLogo>bicb</span>
    </section>
    <section footerContent>
      <h3>Products</h3>
      <ul>
        <li>Payments</li>
        <li>Business Loans</li>
        <li>Personal Loans</li>
        <li>Investments</li>
        <li>customer services</li>
      </ul>
    </section>
    
    <section footerContent>
      <h3>Company</h3>
      <ul>
        <li>About</li>
        <li>Contact</li>
        <li>FAQs</li>
      </ul>
    </section>
    
    <section footerContent>
      <h3>Get in touch</h3>
      <ul>
        <li><i class="fa fa-facebook-official"></i>Facebook</li>
        <li><i class="fa fa-twitter"></i>twitter</li>
        <li><i class="fa fa-youtube-play"></i>Youtube</li>
        <li><i class="fa fa-instagram"></i>instagram</li>
      </ul>
    </section>
      
    
    
    
  </footer>
</main>

