<link
  href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&family=Ubuntu:wght@300;400;500;700&display=swap"
  rel="stylesheet">
<mat-toolbar>
  <mat-toolbar-row>
    <span>BICB</span>
    <div class="options">
      <span>Products</span>
      <span>Blogs</span>
      <span>FAQs</span>
      <span>About</span>
      <span>Careers</span>
      <span>Credit Report</span>
    </div>
    <button mat-button>Sign In</button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="hero-image">
  <div class="company-motto">
    <span>Ask, We solved</span>
  </div>

</div>