@font-face {
    font-family: 'goya';
    font-style: normal;
    src: url('../assets/fonts/goya/GoyaHeavy.eot'); /* IE9 Compat Modes */
    src: local('goya'), local('goya'),
         url('../assets/fonts/goya/GoyaHeavy.woff') format('woff'), /* Modern Browsers */
         url('../assets/fonts/goya/GoyaHeavy.woff2') format('woff2'), /* Super Modern Browsers */
         url('../assets/fonts/goya/GOYA.TTF') format('truetype'), /* Safari, Android, iOS */
         url('../assets/fonts/goya/GoyaHeavy.svg') format('svg'); /* Legacy iOS */
}


[mat-button]{
    background-color: #7d36ba;
    color: white;
    float: right;

}
mat-toolbar-row > span {
    margin-left: 30px;
    font-family: 'goya', sans-serif;
    font-size: 3.1vw;
}
mat-toolbar{
    height: 68px;
    color: #7d36ba;
    background-color: white;
    position: fixed;
    z-index: 5;
    top: 0;
}

[temp-covid]{
    background-color: #f4f0fe;
    color: red;
    font-family: 'ubuntu', sans-serif;
 
}
[temp-covid] > mat-toolbar-row {
    display: flex;
    justify-content: center;
    font-family: 'ubuntu', sans-serif;

}


.options{
    height: auto;
    width: 50%;
    padding-left: 350px;
    padding-right: 50px;
    color: black;
    font-size: 1vw;;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}
.hero-image{
    height: 700px;
    width: 100%;
    background-image: url('/assets/img/hero-image.jpg');
    background-position: center;
    background-size: cover;
    
}
.company-motto{
    height: 300px;
    width: auto;
    position: absolute;
    padding: 150px 0px 0px 100px;
    color: white;
    font-weight: bolder;
    font-size: 5.5vw;
    text-shadow: 1px 1px 3px grey;
    float: left;
}

.company-services{
    height: auto;
    width: auto;
    padding: 400px 0px 0px 100px;
    color: white;
    font-size: 2.5vw;
}
.get-started-button{
    font-size: 1.9vw;
    height: 10vh;
    width: 15vw;
    float: right;
    margin: -170px 170px 0px 0px;
    color: #5fcf00;
}

main{
    height: auto;
    width: 100%;
    background-color: white;
}
.contact-us{
    background-color: #edffdd;
    height: 500px;
    width: auto;
    display: flex;
    justify-content: center;
}
[contactUs]{
    color: #5fcf00;
    font-size: 2vw;
}
a{
    text-decoration: none;
}
.contact-us-left-desc{
    height: 100%;
    width: 40%;
    padding: 100px 40px 40px 40px;

}
.contact-us-left-desc > span{
    font-size: 3vw;
    font-weight: bold;
}

.contact-us-left-desc > p{
    font-size: 2vw;
    color: #1f2c15;
    
}
.contact-us-right-desc{
    height: 100%;
    width: 40%;
}
[phoneCall]{
    height: 256px;
    width: 400px;
    margin-top: 110px;
    float: right;
    margin-right: 40px;
}

.testimonies{
    height: 600px;
    width: auto;
    background-color: #f4f0fe; 
   padding: 100px;
}

.testimonies > span{
    color: black;
    font-size: 3vw;
    margin-left: 40px;
    font-weight: bold;
    
}
.testimony-card{
    height: 465px;
    width: 250px;
    float: left;
}
.person1 {
  background-image: url('/assets/img/people/person1.jpg');
  background-size: cover;
}

.person2 {
  background-image: url('/assets/img/people/person2.jpg');
  background-size: cover;
}

.person3 {
  background-image: url('/assets/img/people/person3.jpg');
  background-size: cover;
}
.testmony-container{
     display: flex;
     padding-top: 50px;
   justify-content: space-around;
}
mat-card-title{
    color: #7d36ba;
}
mat-card-subtitle{
    color: grey;
}
mat-card-content{
    color: grey;
    text-align: center;
}
.getClose{
    height: 300px;
    width: 100%;
    color: white;
    background-color: #7d36ba;
    padding-top: 50px;
}
.getClose > span{
    margin-left: 150px;
    font-size: 3vw;
    font-weight: bold;
}
.app-container{
    height: auto;
    width: auto;
    padding: 80px 100px 30px 100px;
    display: flex;
    justify-content: space-around;
}

.services-sect{
    height: auto;
    width: auto;
    padding: 150px;

}
.services{
    height: auto;
    width: auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.ser-descts{
    width: 40%;
    height: 100%;
}
.ser-descts > span{
    font-size: 3vw;
    font-weight: bold;
}
.ser-descts > p{
    font-size: 2vw;
}
.image-descts{
    width: 60%;
    height: auto;
    display: flex;
    justify-content: center;
}
.service-avatar{
    height: 450px;
    width: auto;
}
[google-play]{
    height: 58px;
    width: auto;
}
[app-store]{
    height: 60px;
    width: auto;
}
footer{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
footer > section {
    height: 100%;
    width: 23%;
    
}
[footerLogo]{
    font-family: goya, ubuntu, 'sans serif';
    font-size: 4vw;
    color: #7d36ba;
    
}
[footerSectLogo]{
    padding-top: 100px;
    text-align: center;

}
[footerContent] {
    color: grey;
    padding-top: 50px;
}
[footerContent]>ul {
    list-style-type: none;
}
[footerContent] > ul >li{
margin-top: 10px;
text-indent: -30px;
}
.contact-us-left-desc > p > a{
    color: #7d36ba;
}